body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header .title{
  margin-top: 40px;
}

.App-header a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .2s all;
}
.App-header a:hover{
  opacity: .7;
}

.githubIcon{
  height: 30px;
  margin-right: 5px;
}

.section {
  margin-top: -11px;
  background-color: rgb(white, white, white);
}

#first-section {
  background-color: rgb(235, 232, 232);
}
.Countdown{
  margin: 0px auto;
  padding-bottom: 16px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element b{
  color:rgb(41, 41, 41);
  font-size: 200%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Countdown-col-element text{
  color:rgb(65, 62, 62);
  font-size: 200%;
}

.Countdown-col-element span{
  color:rgb(65, 62, 62);
  font-size: 200%;
}

.Countdown-date-front{
  display: inline-block;
  margin-right: 50px;
}

.Countdown-date-back{
  display: inline-block;
  margin-left: 50px;
}

#date-connector{
  display: inline-block;
  border-radius: 1px;
  margin-top: 20px;
  margin-bottom: 13px;
  height: 1px;
  width: 100%;
  background-color: rgb(63, 56, 56);
}

#spacer {
  display: inline-block;
  border-radius: 1px;
  margin-top: 0px;
  margin-bottom: 10px;
  height: 1px;
  width: 100%;
  background-color: rgb(63, 56, 56);
}

.delivery-status b{
  font-size: 150%;
}

.delivery-status #status{
  color: red;
}

#assignment-box{
  padding-top: 20px;
}

.assignment b {
  font-size: 200%;
}

#aflever {
  padding-top: 15px;
  padding-bottom: 15px;
}

#section-grey {
  background-color: rgb(242, 242, 242)
}
